* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

header {
    font-size: 30px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    width: 100%;
    padding-top: 20px;
    clear: both;
    float: right;
}

section {
    overflow: auto;
    clear: both;
    width: 100%;
}

#sideNav {
    height: 100%; 
    position: fixed;
    top: 70px; 
    left: 0;
    background-color: rgb(247, 245, 245);
}

h1 {
    font-size: 20px;
    text-align: left;
    padding: 20px 0px 10px 5px;
}

#basic-text1 {
    background-color: yellowgreen;
}

.fas {
    color: black;
}

h2 {
    font-size: 30px;
    text-align: left;
    font-weight: bolder;
    padding: 20px;
}

.input-group col {
    margin: 10px;
    height: 35px;
}

p {
    padding-bottom: 200px;
}

#fiveDay {
    padding-top: 20px;
    text-align: left;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 30px;
}

#dailyForecast {
    width: 100%;
    padding: 0;
    margin: 5px 0px 0px 15px;
}

.card-deck {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-body {
    background-color: yellowgreen;
    color: black;
}

#card-header {
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
}

.card-text {
    font-size: 13px;
    line-height: 50px;
    padding: 0;
}

@media screen and (max-width: 576px) {
    .navbar-brand {
    text-align: center;
    padding: 0 auto;
    width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        text-align: center;
        padding: 0 auto;
        width: 100%;
    }
}