* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color: blueviolet;
    overflow-x: hidden;
    padding-top: 0px;
}

.container {
    width: 100%;
    padding-top: 20px;
    clear: both;
    float: right;
}

body {
    font-size: 16px;
    line-height: 1;
}

header {
    font-size: 30px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

h2 {
    font-size: 30px;
    text-align: left;
    font-weight: bolder !important;
    padding: 15px 15px 15px 5px;
}

.input-group col {
    margin: 10px;
    height: 35px;
}

.btn {
    color: white;
    background-color: blue;
    border-color: blue;
}

/* 5day */

#fiveDay {
    padding-top: 20px;
}

.list-group .list-group-flush {
    background-color: blue;
}

/* media queries */

@media screen and (max-width: 576px) {
    .navbar-brand {
    text-align: center;
    padding: 0 auto;
    width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        text-align: center;
        padding: 0 auto;
        width: 100%;
    }
}